@import url("bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,800");

body {
    background: #3B88B1 url("../images/landscape_filtered.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-shadow: 0px 0px 5px rgba(33, 42, 60, 0.43);
    color: #FFF;
}

a {
    color: #404040;
    cursor: pointer;
}

a:hover,
a:focus,
a:active {
    color: #404040;
    text-decoration: none;
}

.navbar-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.navbar-custom .nav {
    margin-top: 10px;
}

@media only screen and (min-width: 768px) {
    .navbar-custom .nav {
        margin: 20px 100px 20px 20px;
    }
}

.navbar-custom .nav__link {
    margin-right: 25px;
}

.navbar-custom .nav__link:last-child {
    margin-right: 0;
}

.navbar-custom .nav__link-social {
    margin-right: 15px;
}

.navbar-custom .nav li a {
    text-transform: uppercase;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .navbar-custom {
        background: transparent;
        border-bottom: 1px solid transparent;
        color: white;
        text-shadow: 0 0 5px rgba(33, 42, 60, 0.43);
    }

    .navbar-custom:hover,
    .navbar-custom:focus {
        color: rgba(255, 255, 255, 0.8);
    }

    .navbar-custom .nav li a {
        color: white;
    }

    .navbar-custom .nav li a:hover,
    .navbar-custom .nav li a:focus {
        color: rgba(255, 255, 255, 0.8);
    }
}

.main_content {
    margin-left: 100px;
    margin-top: 370px;
}

.name {
    font-size: 50px;
}

.role {
    font-size: 30px;
    max-width: 900px;
}

